body {
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    background-color: #fff;
    color: #333;
    line-height: 1.5rem;
    overscroll-behavior-y: none;
}

/*@media only screen and (min-width: 375px) {*/
/*    body {*/
/*        width: 375px;*/
/*    }*/
/*}*/

/*@media only screen and (min-width: 425px) {*/
/*    body {*/
/*        width: 425px;*/
/*    }*/
/*}*/

/*@media only screen and (min-width: 768px) {*/
/*    body {*/
/*        width: 768px;*/
/*    }*/
/*}*/

img {
    border: 0;
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #156fbc;
    font-weight: 600;
    outline: none;
}

h2 {
    font-size: 1.125rem;
    line-height: 1.56;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin: 0;
}

ul {
    margin: 0;
}

p {
    margin: 0 0 20px 0;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #d50006;
    height: 50px;
    box-shadow: 0 0.1rem 0.2rem rgb(0 0 0 / 60%);
}

#progress-bar {
    position: relative;
    height: 6px;
    width: 0%;
    background-color: #156FBC;
    transition: width 0.3s ease-out;
    opacity: 1;
}

.progress-value {
    position: absolute;
    right: 0;
    width: 40px;
    height: 25px;
    background-color: #156FBC;
    font-size: 12px;
    color: #fff;
    text-align: center;
    opacity: 0;
}

.menu-icon {
    padding-left: 20px;
    fill: #ffffff;
}

.logo {
    text-align: center;
    margin-left: 130px;
}

.container {
    padding: 10px;
}

.overhead {
    margin: 0.625rem 0 0.3125rem;
    color: #D50006;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.43;
}

.headline {
    font-size: 1.125rem;
    line-height: 1.56;
    font-weight: 600;
}

.lead-in, .lead-out {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}

#MEW_scroll_to_top_wrapper {
    display: none;
    position: fixed;
    width: 3rem;
    height: 3rem;
    right: 20px;
    bottom: 3.75rem;
    z-index: 9000;
    border-radius: 50%;
    background-color: rgba(21,111,188,0.7);
}

.show_5s {
    animation: hide 5s forwards;
}

.icon-arrow {
    fill: #ffffff;
    padding: 11px;
}

.circular-progress {
    --progress: 0;
    position: fixed;
    width: 4rem;
    height: 4rem;
    right: 13px;
    bottom: 50px;
    z-index: 9000;
    border-radius: 50%;
    background-image: conic-gradient(
            rgba(213, 0, 6, 0.7) var(--progress, 0),
            rgba(213, 0, 6, 0.2) var(--progress, 0)
    );
    display: none;
    place-items: center;
    /*opacity: 0;*/
}

.circular-progress:before {
    content: "";
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: rgba(21,111,188,1);
    border-radius: 50%;
}

.value-container {
    position: relative;
    color: #ffffff;
}
